@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
    --primary-color: #22577a;
    --secondary-color: #38a3a5;
    --tertiary-clor: #184e77;
    --primary-font: "Inter", sans-serif;
    --navbar-font-color: #83afd1;
}

body {
    font-family: var(--primary-font) !important;
}

.ims__body-container {
    height: 100vh;
}

.active,
.active i {
    color: white !important;
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0.2rem;
    height: 2rem;
    background-color: white;
}

/** Navbar **/
.ims__navbar-content {
    width: 9.5rem;
    transition: 0.3s ease-in-out;
    background-color: var(--primary-color);
}

.ims__collapsible-navbar {
    width: 3.3rem;
}

.ims__navbar-content a {
    font-size: 0.85rem;
    display: grid;
}

.ims__navbar-content a,
.ims__navbar-content i {
    color: var(--navbar-font-color);
    transition: color 0.2s ease-in-out;
}

.ims__navbar-content a:hover,
.ims__navbar-content a:hover i,
.ims__navbar-content i:hover {
    color: white;
}

.ims__navbar-link-container {
    width: 8rem;
}

.ims__navbar-link-container ul {
    gap: 0.5rem;
}

.ims__navbar-logo-container {
    width: 2rem;
}

.ims__navbar-logo-container .ims__navbar-icon {
    cursor: pointer;
    font-size: 1rem;
}

/* Chart */
canvas {
    width: 100% !important;
    height: auto !important;
}

.dashboard__chart-content {
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

/* Main Content */
#ims__main-dashboard {
    background-color: #f6f7f8;
}

.ims__overview-section-container {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.ims__overview-content-title p {
    font-size: 0.8rem;
}

.ims__overview-content-value {
    font-size: 2.5rem;
}

#ims__product-table,
#ims__transaction-table,
#ims__supplier-table {
    border: none;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

#ims__product-table tbody tr:hover,
#ims__transaction-table tbody tr:hover,
#ims__supplier-table tbody tr:hover {
    background-color: #f7f6f6;
}

#ims__product-table th,
#ims__transaction-table th,
#ims__supplier-table th {
    border: none;
    background-color: #dfdede;
}

#ims__product-table_filter,
#ims__transaction-table_filter,
#ims__supplier-table_filter {
    margin-bottom: 1em;
}

.ims__product-table-container::-webkit-scrollbar,
.ims__transaction-table-container::-webkit-scrollbar,
.ims__supplier-table-container::-webkit-scrollbar {
    display: none;
}

.ims__product-img {
    max-height: 20rem;
    width: auto;
}
