@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
    --primary-color: rgb(34, 87, 122);
    --secondary-color: rgb(56, 163, 165);
    --tertiary-clor: rgb(24, 78, 119);
    --primary-bg-color: rgb(246, 247, 248);
    --table-th-color: rgb(223, 222, 222);
    --table-tr-hover: rgb(238, 237, 237);
    --primary-font: "Inter", sans-serif;
    --navbar-font-color: rgb(131, 175, 209);
    --navbar-active: rgb(255, 255, 255);
    --primary-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    --secondary-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

body {
    font-family: var(--primary-font) !important;
}

.ims__body-container {
    height: 100vh;
}

.active,
.active i {
    color: var(--navbar-active) !important;
}

.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0.2rem;
    height: 2rem;
    background-color: var(--navbar-active);
}

/** Navbar **/
.ims__navbar-content {
    width: 9.5rem;
    transition: 0.3s ease-in-out;
    background-color: var(--primary-color);
}

.ims__collapsible-navbar {
    width: 3.3rem;
}

.ims__navbar-content a {
    font-size: 0.85rem;
    display: grid;
}

.ims__navbar-content a,
.ims__navbar-content i {
    color: var(--navbar-font-color);
    transition: color 0.2s ease-in-out;
}

.ims__navbar-content a:hover,
.ims__navbar-content a:hover i,
.ims__navbar-content i:hover {
    color: var(--navbar-active);
}

.ims__navbar-link-container {
    width: 8rem;
}

.ims__navbar-link-container ul {
    gap: 0.5rem;
}

.ims__navbar-logo-container {
    width: 2rem;
}

.ims__navbar-logo-container .ims__navbar-icon {
    cursor: pointer;
    font-size: 1rem;
}

/* Chart */
canvas {
    width: 100% !important;
    height: auto !important;
}

.dashboard__chart-content {
    border-radius: 0.5rem;
    box-shadow: var(--primary-box-shadow);
}

/* Main Content */
#ims__main-dashboard,
#ims__main-product,
#ims__main-transaction,
#ims__main-supplier {
    background-color: var(--primary-bg-color);
}

.dashboard__chart-action-btn {
    right: 1rem;
    background-color: inherit;
}

.dashboard__chart-action-btn i {
    font-size: 1.2rem;
}

.dashboard__chart-action-btn i:hover {
    color: black;
}

.dashboard__action-container {
    top: 2.5rem;
    right: 1rem;
}

.dashboard__export-btn:hover {
    cursor: pointer;
    background-color: rgb(243, 240, 240);
}

.ims__overview-section-container {
    box-shadow: var(--primary-box-shadow);
}

.ims__overview-content-title p {
    font-size: 0.8rem;
}

.ims__overview-content-value {
    font-size: 2.5rem;
}

#ims__product-table,
#ims__transaction-table,
#ims__supplier-table {
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--secondary-box-shadow);
}

#ims__product-table tbody tr:hover,
#ims__transaction-table tbody tr:hover,
#ims__supplier-table tbody tr:hover {
    background-color: var(--table-tr-hover);
}

#ims__product-table th,
#ims__transaction-table th,
#ims__supplier-table th {
    border: none;
    background-color: var(--table-th-color);
}

#ims__product-table_filter,
#ims__transaction-table_filter,
#ims__supplier-table_filter {
    margin-bottom: 1em;
}

.ims__product-table-container::-webkit-scrollbar,
.ims__transaction-table-container::-webkit-scrollbar,
.ims__supplier-table-container::-webkit-scrollbar {
    display: none;
}

.ims__product-img {
    max-height: 20rem;
    width: auto;
}

.ims__add-btn {
    padding: 0.5rem 1rem;
    outline: none;
    background-image: linear-gradient(
        to top,
        #d8d9db 0%,
        #fff 80%,
        #fdfdfd 100%
    );
    border-radius: 1rem;
    border: 1px solid #8f9092;
    transition: all 0.2s ease;
    font-weight: 600;
    text-shadow: 0 1px rgb(255, 255, 255);
}

.ims__add-btn:hover {
    box-shadow: 0 4px 3px 1px rgb(252, 252, 252), 0 6px 8px rgb(214, 215, 217),
        0 -4px 4px rgb(206, 207, 209), 0 -6px 4px rgb(254, 254, 254),
        inset 0 0 3px 3px rgb(206, 207, 209);
}

.ims__add-btn:active {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
        0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.ims__view-detail-btn,
.ims__add-item-submit-btn,
.ims__view-detail-edit-btn,
.ims__view-detail-dlt-btn {
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
        rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
        rgb(214, 214, 231) 0 -3px 0 inset;
    color: #36395a;
    padding: 0.5rem 1rem;
    position: relative;
    transition: box-shadow 0.15s, transform 0.15s;
    white-space: nowrap;
}

.ims__view-detail-btn:hover,
.ims__add-item-submit-btn:hover,
.ims__view-detail-edit-btn:hover,
.ims__view-detail-dlt-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
        rgba(45, 35, 66, 0.2) 0 7px 13px -3px, rgb(214, 214, 231) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.ims__view-detail-btn:active,
.ims__add-item-submit-btn:active,
.ims__view-detail-edit-btn:active,
.ims__view-detail-dlt-btn:active {
    box-shadow: rgb(214, 214, 231) 0 3px 7px inset;
    transform: translateY(2px);
}

.ims__view-detail-btn {
    background-color: rgb(252, 252, 253);
}

.ims__add-item-submit-btn,
.ims__view-detail-edit-btn {
    background-color: rgb(115, 211, 255);
}

.ims__view-detail-dlt-btn {
    background-color: rgb(255, 143, 143);
}

.ims__input-field {
    border: 1px solid rgb(151, 151, 151);
}

/* Login */
body[data-page="login"] .ims__body-container {
    background-image: linear-gradient(
        to right top,
        var(--primary-color),
        #167497,
        #0093b1,
        #00b2c6,
        #21d2d6
    );
}

.login__form-title {
    font-size: 1.5rem;
    color: royalblue;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.login__form-title::before,
.login__form-title::after {
    position: absolute;
    content: "";
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}

.login__form-title::before {
    width: 1rem;
    height: 1rem;
    background-color: royalblue;
}

.login__form-title::after {
    width: 1rem;
    height: 1rem;
    animation: pulse 1s linear infinite;
}

.login__forgot-pw-btn a {
    font-size: 0.8rem;
    color: royalblue;
}

.login__form label {
    position: relative;
}

.login__form label input {
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
}

.login__form label input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9rem;
    cursor: text;
    transition: 0.3s ease;
}

.login__form label input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9rem;
}

.login__form label input:focus + span,
.login__form label input:valid + span {
    top: 30px;
    font-size: 0.7rem;
    font-weight: 600;
}

.login__form-submit-btn {
    font-size: 0.9rem;
    background-color: royalblue;
}

.login__form-submit-btn:hover {
    background-color: rgb(56, 90, 194);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
